body {
    background-color: #0a0a23;
  }
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
    margin:5px;
    
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 2px solid #0a0a23;
    border-radius: 10px;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 2px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }